.chart-vertical .stiff-chart-inner li {
  // height: 117px;
}

.chart-horizontal .stiff-chart-inner li {
  // height: 155px;
}

.chart-active {
  .the-chart {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    transition: all .5s ease-in-out;
  }
}

.chart-container {
  // max-width: 500px;
  // width: 100%;
  // margin: 20px auto 0;
}


.the-chart {
  padding: 7px;
  border: 1px solid #3498db;
  border-radius: 5px;
  height: 100%;
}

.text-center {
  text-align: center;
  margin: 20px 0;
}